<!--Name: Caleb Okafor (301151683)
    Course: COMP229 Assignment 01
    Date: Feb 12, 2022.
    Description: View for the error debugger-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<%-include partials_about/body.ejs %>
<%-include partials_about/bottom_nav.ejs %>
<%-include partials_about/footer.ejs %>
<%-include partials_about/header.ejs %>
<%-include partials_about/main_nav.ejs %>

<%-include partials_contact/body.ejs %>
<%-include partials_contact/botttom_nav.ejs %>
<%-include partials_contact/footer.ejs %>
<%-include partials_contact/header.ejs %>
<%-include partials_contact/main_nav.ejs %>

<%-include partials_index/body.ejs %>
<%-include partials_index/bottom_nav.ejs %>
<%-include partials_index/footer.ejs %>
<%-include partials_index/header.ejs %>
<%-include partials_index/main_nav.ejs %>

<%-include partials_projects/body.ejs %>
<%-include partials_projects/bottom_nav.ejs %>
<%-include partials_projects/footer.ejs %>
<%-include partials_projects/header.ejs %>
<%-include partials_projects/main_nav.ejs %>

<%-include partials_services/body.ejs %>
<%-include partials_services/bottom_nav.ejs %>
<%-include partials_services/footer.ejs %>
<%-include partials_services/header.ejs %>
<%-include partials_services/main_nav.ejs %>

