<!--Name: Caleb Okafor (301151683)
    Course: COMP229 Assignment 01
    Date: Feb 12, 2022.
    Description: View for the 'Home' web page-->

<%-include partials_index/header.ejs %>
<body style="background-color: rgb(151, 151, 155);">
  <!-- Vertial navigation bar beginning -->
  <%-include partials_index/main_nav.ejs %>
  <!-- vertical navigation bar ending -->
  <table>
    <tr>
      <td><img src="../Assets/images/logoCOMP229.png" alt="logo" id="logo"></td>
      <td><h1><%= title %></h1></td>
    </tr>
  </table>
  <%-include partials_index/body %>    
    <!-- <p>Welcome to <%= title %></p> -->
    <%-include partials_index/bottom_nav%>
    <%-include partials_index/footer.ejs %>
  </body>
  </html>